.primary-background{
    background: #d1c4e9;
}
btn-primary{
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
/*background: #e1bee7;*/
/*background: #ea80fc;*/
/*background: #d1c4e9;*/